{% extends "base.html" %}

{% block content %}
	<div class="bg-contact2" id="main-container" style="background-image: url('images/bg-01.jpg');">
		<div id="middle-container">
            <div id="encours">

			</div>
			<div id="attente">

			</div>
			<div id="realisee">

			</div>
        </div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/kitchen.js') }}"></script>
{% endblock %}
