{% extends "base.html" %}

{% block content %}
	<nav>
		<ul>
			<a href="{{ url_for('stocks') }}"><li>Stocks</li></a>
			<a href="{{ url_for('menu') }}"><li>Menu</li></a>
			<a href="#popup"><li id="deco">Se déconnecter</li></a>
		</ul>
	</nav>
	<div id="popup">
		<h1>Voulez vous vraiment vous déconnecter ?</h1>
		<div class="container-contact2-form-btn">
			<div class="wrap-contact2-form-btn">
				<div class="contact2-form-bgbtn"></div>
				<a href="#"><button class="contact2-form-btn">
					Annuler
				</button></a>
			</div>
		</div>
		<div class="container-contact2-form-btn">
			<div class="wrap-contact2-form-btn">
				<div class="contact2-form-bgbtn"></div>
				<a href="{{ url_for('logout') }}"><button class="contact2-form-btn">
					Déconnexion
				</button></a>
			</div>
		</div>
	</div>

	<div class="bg-contact2" id="main-container" style="background-image: url('../static/images/bg-01.jpg');">
		<form class="container" action="#">
			<div id="plat">
				<h1>PLATS</h1>
				<ul>
				</ul>
			</div>
			<div id="ingredient">
				<h1>INGREDIENTS</h1>
				<ul>
				</ul>
			</div>
			<div id="sauce">
				<h1>SAUCES</h1>
				<ul>
				</ul>
			</div>
			<div id="boisson">
				<h1>BOISSONS</h1>
				<ul>
				</ul>
			</div>
			<div id="dessert">
				<h1>DESSERTS</h1>
				<ul>
				</ul>
			</div>
			<div id="resume">
				<h1>Commande 1</h1>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<input list="user_list" id="user" type="text" placeholder="Username">
				<datalist id="user_list">
				</datalist>
				<button class="validation" type="submit">Valider</button>
				<h2>3,40€</h2>
				
			</div>
		</form>
		<div class="liste">

		</div>
	</div>

<!--===============================================================================================-->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/pc.js') }}"></script>
{% endblock %}
