{% extends "base.html" %}

{% block content %}
    <div class="bg-contact2" id="main-container" style="background-image: url('../static/images/bg-01.jpg');">
		<form id="stocks" class="container" action="#">
			<div id="plat">
				<h1>PLATS</h1>
				<ul>
					<li><input type="number" name="plat" id="sandwich">
					<label for="sandwich">Sandwich</label></li>
					<li><input type="number" name="plat" id="sandwichS">
					<label for="sandwichS">Sandwich Surprise</label></li>
				</ul>
			</div>
			<div id="ingredient">
				<h1>INGREDIENTS</h1>
				<ul>
					<li><input type="number" name="ingredient" id="dinde">
					<label for="dinde">Dinde</label></li>
					<li><input type="number" name="ingredient" id="jambon">
					<label for="jambon">Jambon</label></li>
				</ul>
			</div>
			<div id="sauce">
				<h1>SAUCES</h1>
				<ul>
					<li><input type="number" name="sauce" id="beurre">
					<label for="beurre">Beurre</label></li>
					<li><input type="number" name="sauce" id="beurreS">
					<label for="beurreS">Beurre Salé</label></li>
				</ul>
			</div>
			<div id="boisson">
				<h1>BOISSONS</h1>
				<ul>
					<li><input type="number" name="boisson" id="coca">
					<label for="coca">Coca-Cola</label></li>
					<li><input type="number" name="boisson" id="icetea">
					<label for="icetea">Ice-Tea</label></li>
				</ul>
			</div>
			<div id="dessert">
				<h1>DESSERTS</h1>
				<ul>
					<li><input type="number" name="dessert" id="beignetC">
					<label for="beignetC">Beignet Chocolat</label></li>
					<li><input type="number" name="dessert" id="beignetF">
					<label for="beignetF">Beignet Framboise</label></li>
				</ul>
			</div>
        </form>
    </div>
{% endblock %}
